<div class="cuerpoIndex">
    <div class="cuerpo-derecho">

        <ul class="lista-derecho">
            <li><a href="http://localhost:8080/permisos">Registrar</a></li>
            <li><a href="http://localhost:8080/permisos_listar">Buscar</a></li>
           <li><a href="http://localhost:8080/permisos_update">Actualizar</a></li>
            <li><a href="http://localhost:8080/Permisos_delete">Eliminar</a></li>
        </ul>
    </div>
    <div class="cuerpo-izquierdo">

        <fieldset class="fieldset" ;
            style=" margin:auto 10%; width:600px; border: 1px solid rgba(12, 97, 131, 0.774); ">
            <legend style="color:  rgba(12, 97, 131, 1);">REGISTRAR PERMISOS</legend>
            <form class="formulario_permiso" action="/permisos" method="POST" style="width:500px;">

                <input type="number" class="form-control" id="id_empleado" name="id_empleado"
                    placeholder="Cedula Empleado" >

                <input type="text" class="form-control" id="motivo_permiso" name="motivo_permiso" placeholder="Motivo" >

                <table class="table_form_permisos">
                    <tr>
                        <td style="padding:0px;" class="td_Update">
                            <label class="FechasPermisos" for="start">Fecha Inicio:</label>
                            <input type="date" class="form-control" id="start" name="fecha_inicio" min="2010-01-01"
                                max="2030-12-31">
                        </td>
                        <td align="left" class="td_Update">
                            <label class="FechasPermisos" for="startEnd">Fecha Fin:</label>
                            <input type="date" id="startEnd" class="form-control" name="fecha_fin" min="2010-01-01"
                                max="2030-12-31">
                        </td>
                    </tr>
                </table>
                           
                <textarea name="observaciones" id="Observaciones" class="form-control"
                    placeholder="Observaciones" ></textarea>

                <div class="div_bnt_registrarPermiso" >
                    <button class=" btn btn-primary  bnt_registrarPermiso" type="submit">Registrar</button>
                    </div>

                <br>


            </form>
        </fieldset>
    </div>
</div>