
 <div class="menu">
        <label for="" class="logo" id="Logo1">LevelSis</label>
        <ul class="menu_items">
            <li class="active"><a href="http://localhost:8080" target="_blank">Inicio</a></li>
            <li><a href="http://localhost:8080/empleados">Empleados</a></li>
            <li><a href="http://localhost:8080/permisos">Permisos</a></li>
            <li><a href="#">Portafolio</a></li>
        </ul>

    </div>


    <div class="banner">
        <div class="banner-cont">
            <h1>Bienvenidos a LevelSis</h1>
            <a href="#"> Conocenos </a>
        </div>
    </div> 